<div class="media">
  <div class="media-left">
    <%= link_to image_tag(rock.public_url, class: 'media-object'), rock.public_url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= rock.location_found %></h4>
    <h4 class="media-heading"><%= rock.description %></h4>
    <%= link_to("What Is This Rock?", rock_path(rock.id), class: "btn") %>
  </div>
</div>
