<h1>Gneiss Rocks</h1>

<p>Keep in mind that this information is just a guess, it is determined by the quality of photograph and by the google vision API. Use what you find here as supplementary to your education guesses as to the identification of rocks. </p>
<%= render @rocks %>

<%= link_to "New Rock", new_rock_path %>
